$theme--color--text-color--on-dark: rgba(236, 236, 236, 1.0);
$theme--color--text-color--on-light: rgba(236, 236, 236, 1.0);

$theme--color--background-color--dark: rgba(43, 43, 43, 1.0);
$theme--color--background-color--light: rgba(60, 63, 65, 1.0);
$theme--color--background-color--lighter: rgba(80, 80, 80, 1.0);

$theme--color--highlight: rgba(47, 101, 202, 1.0);
