$theme--pretty-print--font-family: monospace;
$theme--pretty-print--background-color: #28211c;
$theme--pretty-print--text-color: #9d9b97;

$theme--pretty-print--selected--background-color: #36312e;
$theme--pretty-print--gutters--background-color: #28211c;
$theme--pretty-print--line-number--text-color: #666666;

$theme--pretty-print--cursor--border-color: #797977;
$theme--pretty-print--comment--text-color: #937121;
$theme--pretty-print--atom--text-color: #9b859d;
$theme--pretty-print--number--text-color: #9b859d;
$theme--pretty-print--property--text-color: #54be0d;
$theme--pretty-print--attribute--text-color: #54be0d;
$theme--pretty-print--keyword--text-color: #cf6a4c;
$theme--pretty-print--string--text-color: #f9ee98;
$theme--pretty-print--variable--text-color:  #54be0d;
$theme--pretty-print--variable-2--text-color: #5ea6ea;
$theme--pretty-print--def--text-color: #cf7d34;

$theme--pretty-print--error--background-color: #cf6a4c;
$theme--pretty-print--error--text-color: #797977;

$theme--pretty-print--bracket--text-color: #9d9b97;
$theme--pretty-print--tag--text-color: #cf6a4c;
$theme--pretty-print--link--text-color: #9b859d;

$theme--pretty-print--matching-bracket--text-color: #ffffff;
$theme--pretty-print--matching-bracket--text-decoration: underline;

$theme--pretty-print--activeline-background--background-color: #404040;

