<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid demo</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="app">
    <demo title="Grid" v-bind:languages="{{ languages|json_encode|escape }}">
        <div slot="content" class="demo-content demo-grid">
            {% for element in elements %}
                <div class="element {{ element.class }}"><span>{{ element.class }}</span></div>
            {% endfor %}
        </div>
    </demo>
</div>
<script src="../js/index.js"></script>
</body>
</html>
