@import "../theme/lib/mixins";
@import "body";

body {
  margin: 0;
  padding: 0;
}

.demo {
  padding: 16px;
  font-family: 'sans-serif';

  > .demo-header {
    border: none;
    margin-bottom: 20px;
    border-bottom: solid 5px #eee;

    h1 {
      font-size: 48px;
      float: left;
    }

    .direction-selector {
      float: right;
    }

    &:after {
      @include clear-float();
    }
  }

  h1, h2, h3 {
    margin: 0;
  }

  h2 {
    border: none;
    margin-bottom: 20px;
    font-size: 32px;
  }
}