<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>Outline view demo</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="app">
    <demo title="Outline view" v-bind:directions="{{ directions|json_encode|escape }}">
        <div slot="content" class="demo-content">
            <div class="demo-outline-view">
                <demo-outline-view inline-template>
                    <outline-view v-bind:root="{{ root|json_encode|escape }}"></outline-view>
                </demo-outline-view>
            </div>
        </div>
    </demo>
</div>
<script src="../js/index.js"></script>
</body>
</html>
