@import "../theme/breakpoint/index";
@import "../theme/color/index";
@import "../theme/icon/index";
@import "../icon/index";
@import "../theme/rtl/index";
@import "../theme/lib/mixins";
@import "../theme/font/index.scss";

.outline-view {
  background-color: $theme--color--background-color--light;
  color: $theme--color--text-color--on-dark;
  display: inline-block;
  min-width: 100%;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .items {
    display: inline-block;
    font-size: 1.25em;
    width: 100%;
  }

  .outline-view-item {
    display: block;
    list-style: none;
    white-space: nowrap;
    cursor: default;

    .item {
      height: 2.0em;
      font-family: NoSpace, sans-serif;
    }

    &.selected {
      > .item {
        background-color: $theme--color--highlight;
      }
    }

    .indentation, .expander, .icon, .title {
      font-family: Primary, sans-serif;
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      line-height: 2.0em;
      @include rtl-sass-padding-left(0.25em);
    }

    .indentation {
      width: 1.0em;
    }

    .expander {
      width: 1.0em;
      @include icon(play-arrow);

      &:before {
        @include rtl-sass-declaration(transform, rotate(0deg), rotate(180deg));
        display: block;
      }
    }

    .icon {
      width: 1.0em;
    }

    .title {
      @include rtl-sass-padding-right(1.0em);
    }

    &.expanded {
      > .item {
        .expander {
          &:before {
            @include rtl-sass-declaration(transform, rotate(90deg), rotate(90deg));
          }
        }
      }
    }

    &.leaf {
      > .item {
        .expander {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
