@import "../lib/mixins";
@import "../font/lib/mixins";
@import "../variables";

$theme--font-size--h1: (20 / $theme--ref--font-size) * 1em;
$theme--font-size--h2: (16 / $theme--ref--font-size) * 1em;
$theme--font-size--h3: (12 / $theme--ref--font-size) * 1em;