<div class="url-viewer">
    <toolbar>
        <toolbar-group class="actions">
            <toolbar-button>
                <button class="icon open-in-own" v-on:click="onOpenInOwnWindowButtonClick"></button>
            </toolbar-button>
        </toolbar-group>
        <toolbar-group class="directions" ref="directionsToolbarGroup" title="Direction">
            <toolbar-button v-for="direction in directions" :active="direction == currentDirection">
                <button class="icon" v-bind:title="direction.title" v-bind:class="direction.name"
                        v-on:click="onDirectionButtonClick(direction)">{{direction.name}}
                </button>
            </toolbar-button>
        </toolbar-group>
        <toolbar-group class="devices" ref="devicesToolbarGroup" :title="title">
            <toolbar-button v-for="device in devices" :active="device == currentDevice">
                <button class="icon" v-bind:title="device.title"
                        v-bind:class="device.name" v-on:click="onDeviceButtonClick(device)"></button>
            </toolbar-button>
        </toolbar-group>
    </toolbar>
    <div class="preview">
        <iframe v-on:load="onIframeLoad" v-bind:src="url"
                v-bind:style="{width: currentDevice.width}"></iframe>
    </div>
</div>