<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pretty-print demo</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="app" v-cloak>
    <demo class="demo-theme-pretty-print" title="Pretty-print" v-bind:directions="{{ directions|json_encode|escape }}">
        <div slot="content">
            {% for code in codes %}
                <section class="demo-content">
                    <h3 class="demo-h2">{{ code.title }}</h3>
                    <pretty-print :content="{{ code.content|json_encode|escape }}" :lang="'{{ code.lang }}'"></pretty-print>
                </section>
            {% endfor %}
        </div>
    </demo>
</div>
<script src="../js/index.js"></script>
</body>
</html>
