<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>Page 2</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="page-2">

</div>
</body>
</html>
