<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>Component explorer demo</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app">
    <demo title="Component explorer" v-bind:directions="{{ directions|json_encode|escape }}">
        <div slot="content" class="demo-content">
            <div class="demo-navigation-component-explorer">
                <demo-navigation-component-explorer inline-template>
                    <component-explorer v-bind:components="{{ components|json_encode|escape }}" v-bind:title="'Lorem ipsum'"></component-explorer>
                </demo-navigation-component-explorer>
            </div>
        </div>
    </demo>
</div>
<script src="index.js"></script>
</body>
</html>
