@import "../../theme/breakpoint/index";
@import "../../theme/color/index";
@import "../../icon/index";
@import "../../theme/rtl/index";
@import "../../theme/toolbar/index";
@import "../../theme/lib/mixins";
@import "../toolbar-group/index";

.toolbar {
  height: $theme--toolbar--height;
  position: relative;
  background-color: $theme--color--background-color--dark;
  border-bottom: solid 1px rgba(40, 40, 40, 1.0);
}
