@import "../theme/breakpoint/index";
@import "../theme/color/index";
@import "../icon/index";
@import "../theme/rtl/index";
@import "../theme/app-bar/index";

@import "../navigation/app-bar/index";
@import "../navigation/component-explorer/index";

.workbench {
  height: 100%;
  background-color: $theme--color--background-color--dark;
  color: $theme--color--text-color--on-dark;
  position: relative;

  .wrapper {
    position: absolute;
    top: $theme--app-bar--height;
    @include rtl-sass-right(0);
    bottom: 0;
    @include rtl-sass-left(0);
  }

  .navigation-component-explorer {
    box-sizing: border-box;
    transition: all 0.2s linear; //todo: use theme defined transitions
    overflow: auto;
    position: absolute;
    bottom: 0;
    @include rtl-sass-left(-100%);
    width: 100%;
    z-index: 1;

    @include breakpoint(min-width $theme--breakpoint--md) {
      position: relative;
      width: 25%;
      height: 100%;
      @include rtl-sass-float(left);
      @include rtl-sass-left(0);
    }
  }

  &.component-explorer-expanded {
    overflow: hidden;

    .navigation-component-explorer {
      position: absolute;
      display: block;
      @include rtl-sass-left(0);
      @include rtl-sass-right(0);
    }
  }
}
