<ul class="outline-view">
    <li v-for="node in tree.all()" class="outline-view-item" v-if="isNodeVisible(node)"
        :class="getNodeClasses(node)" v-on:click.stop="onItemClick(node)">
        <div class="indentation" v-for="depth in ((node.model.depth - 1) + (isNodeLeaf(node) ? 1 : 0))"></div>
        <div class="expander" v-if="!isNodeLeaf(node)" v-on:click.stop="onExpanderClick(node)"></div>
        <div class="icon"></div>
        <div class="title">{{node.model.name}}</div>
    </li>
</ul>
