<li class="outline-view-item" v-bind:class="itemClass">
    <div class="item" v-on:click="onItemClick">
        <div class="indentation" v-for="index in level"></div>
        <div class="indentation" v-if="!item.children"></div>
        <div class="expander" v-on:click.stop="onExpanderClick" v-if="item.children"></div>
        <div class="icon"></div>
        <div class="title">{{item.title}}</div>
    </div>
    <ul class="children">
        <outline-view-item v-if="expanded" v-for="child in item.children" v-bind:item="child"
                           v-bind:level="level + 1" v-bind:selection="selection" v-bind:delegate="delegate"></outline-view-item>
    </ul>
</li>