<div class="workbench" v-bind:class="{'component-explorer-expanded': componentExplorerExpanded}">
    <app-bar v-bind:title="'test'"></app-bar>
    <div class="wrapper">
        <component-explorer v-bind:components="components"></component-explorer>
        <component-viewer v-if="resource && resource.url" :component="resource" :devices="devices" :device="device"
                          :directions="directions" :direction="direction"></component-viewer>
        <resource-viewer v-if="resource && resource.data" :resource="resource"></resource-viewer>
    </div>
</div>