<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>Component viewer demo</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app">
    <demo title="Component viewer" v-bind:directions="{{ directions|json_encode|escape }}">
        {% for component in components %}
            <div slot="content" class="demo-content">
                <h3>{{ resource.title }}</h3>
                <div class="demo-url-viewer">
                    <demo-url-viewer inline-template>
                        <url-viewer v-bind:component="{{ component|json_encode|escape }}"
                                    v-bind:devices="{{ devices|json_encode|escape }}"></url-viewer>
                    </demo-url-viewer>
                </div>
            </div>
        {% endfor %}
    </demo>
</div>
<script src="index.js"></script>
</body>
</html>
