@import "../../theme/breakpoint/index";
@import "../../theme/color/index";
@import "../../icon/index";
@import "../../theme/rtl/index";
@import "../../theme/app-bar/index";

$button-width: 3.0em; // todo: use theme

.navigation-app-bar {
  height: $theme--app-bar--height;
  background-color: $theme--color--background-color--light;
  color: $theme--color--text-color--on-dark;
  @include rtl-sass-padding(0, 0.5em); //todo: use consistent padding
  position: relative;
  font-family: Primary, sans-serif;

  &:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
  }

  button {
    height: 2.0em;
    width: 2.0em;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    background: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;

    &:before {
      font-size: 2.0em;
    }

    &:disabled {
      color: $theme--color--background-color--lighter;
    }

    &.burger {
      @include icon(menu);
      @include breakpoint(min-width $theme--breakpoint--lg) {
        display: none;
      }
    }

    &.previous {
      @include icon(navigate-before);
    }

    &.next {
      @include icon(navigate-next);
    }
  }

  .title-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include rtl-sass-margin(0, $button-width * 3);

    &:before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }

  .title {
    display: inline-block;
    font-size: 1.25em;
    vertical-align: middle;
    //@include rtl-sass-margin(0, 2.0em);
    width: 100%;
    text-align: center;
  }

}
