@import "../../theme/color/index";
@import "../../theme/font/index";
@import "../../theme/rtl/index";
@import "../../theme/lib/mixins";
@import "../../font/lib/mixins";
@import "../toolbar-button/index";

.toolbar-group {
  @include vertical-centerer;
  height: 100%;
  @include rtl-sass-float(left);
  font-family: NoSpace, sans-serif;

  .title, .buttons, .toolbar-button {
    @include primary-font();
    vertical-align: middle;
    display: inline-block;
  }

  .buttons, .toolbar-button {
    height: 100%;
  }

  .title {
    font-weight: 700;
    @include rtl-sass-padding-right(0.5em);
  }
}
