<div class="resource-viewer">
    <div v-if="resource && resource.url" class="url">
        <div class="toolbar">
            <div class="group">
                <button class="open-in-own" v-on:click="onOpenInOwnWindowButtonClick"></button>
            </div>
            <div class="group devices">
                <button v-for="device in devices" v-bind:class="deviceButtonClass(device)" v-on:click="onDeviceButtonClick(device)"></button>
            </div>
        </div>
        <div class="preview">
            <iframe v-bind:src="resource.url"></iframe>
        </div>
    </div>
    <div v-if="resource && resource.data" class="data">
        <pre><code class="prettyprint" v-bind:class="resource.lang">{{ resource.data }}</code></pre>
    </div>
</div>