@import "../../theme/breakpoint/index";
@import "../../theme/color/index";
@import "../../theme/icon/variables";
@import "../../icon/index";
@import "../../theme/rtl/index";
@import "../../outline-view/outline-view/index";
@import "../../toolbar/toolbar/index";
@import "../../search-input/index";

$theme--resource-explorer--toolbar-horizontal-padding: 0.35em;
$button-width: 3.0em;

@mixin outlineViewItemIcon($icon) {
  > .item {
    .icon {
      @include icon($icon);
    }
  }
}

.navigation-resource-explorer {
  @include primary-font();
  height: 100%;
  background-color: $theme--color--background-color--dark;
  color: $theme--color--text-color--on-dark;
  position: relative;

  .outline-view-wrapper {
    min-width: 100%;
    border-top: solid 1px rgba(85, 85, 85, 1.0); //todo: use theme
    position: absolute;
    top: $theme--toolbar--height;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: $theme--color--background-color--light;
  }

  .outline-view {
    .outline-view-item {
      &.component {
        @include outlineViewItemIcon('polymer');
      }

      &.folder {
        @include outlineViewItemIcon('folder');
      }

      &.dependency, &.binary {
        @include outlineViewItemIcon('insert-drive-file');
      }

      &.dependency-root {
        @include outlineViewItemIcon('share');
      }

      &.binary-root {
        @include outlineViewItemIcon('whatshot');
      }

      &.plugin-root {
        @include outlineViewItemIcon('extension');
      }
    }
  }

  .toolbar {
    .buttons {
      height: auto;
    }

    .toolbar-group {
      width: 100%;

      .buttons {
        width: 100%;
      }

      .search-input {
        width: 100%;

        input {
          width: 100%;
        }
      }

      .toolbar-button {
        position: absolute;
        top: 0;
        bottom: 0;

        &.search {
          width: auto;
          @include rtl-sass-left($theme--resource-explorer--toolbar-horizontal-padding);
          @include rtl-sass-right((2 * $button-width) + ($theme--resource-explorer--toolbar-horizontal-padding));
          @include vertical-centerer;

          .search-input {
            display: inline-block;
            vertical-align: middle;
          }
        }

        &.binaries, &.dependencies {
          button {
            @include rtl-sass-padding(0);
          }
        }

        &.binaries {
          @include rtl-sass-right($button-width);

          button {
            @include icon(whatshot);
          }
        }

        &.dependencies {
          @include rtl-sass-right(0);

          button {
            @include icon(share);
          }
        }
      }
    }
  }
}
